body{
    overflow-x: hidden;
    color : #575656;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    background-color: #575656;
    color: #fff;
    padding: 8px;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0px -15px;
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 13px;
}
[v-cloak] { display: none; }
header{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    padding: 25px 20px;
    
    #header-block{
        .action{
            max-height: 40px;
            
        }
        i{
            float: right;
            cursor: pointer;
            background-color: #008000;
            margin-top: 5px;
            padding: 10px;
            color : white;
            border-radius: 30px;
            position: relative;
            user-select: none;
            z-index: 200;
            
            &.menu{
                background-color: #575656;
            }
            
            &.search{
                background-color: #ccc;
                position: relative;
                right: 15px;
            }
        }
        img{
            max-height: 75px;
        }
        #layoutNbProduit{
            position: absolute;
            background-color: #ccc;
            padding: 5px 11px;
            color: white;
            border-radius: 25px;
            right: 0;
            top : 30px;
            z-index: 201;
            cursor : pointer;
            user-select: none;
        }
    }
    
    nav#main-nav{
        position: fixed;
        height: 100%;
        background-color: white;
        top : 0;
        right : 0;
        box-shadow: 8px 0 17px 0px #000, -3px 0 30px -9px #000;
        width: 300px;
        overflow-x: hidden;
        opacity: 1;
        transition: all 0.5s ease-out;
        z-index : 100;
        
        &.is-active{
            right : -300px;
            opacity: 0;
        }
        
        #container-nav{
            /*height: 500px;*/
            
            #nav-first{
                padding-left: 20px;
                margin-top: 100px;

                &>li{
                    &>a{
                        border-bottom : 1px solid #efeeee;
                        &:before{
                            content : ">";
                            margin-right: 6px;
                        }
                    }

                    .toggle-sub{
                        float: right;
                        font-weight: bold;
                    }
                }

                li{
                    text-transform: uppercase;
                    cursor : pointer;
                    color : black;
                    list-style: none;
                    
                    &.collapsed{
                        &:after{
                            content: "+";
                            float: right;
                            margin-right: 25px;
                        }
                    }
                    &[aria-expanded="true"]{
                        &:after{
                            content: "-";
                            float: right;
                            margin-right: 25px;
                        }
                    }
                    
                    a{
                        padding : 8px 0px;
                        display: inline-block;
                        width: 95%;
                        color : black;
                        text-decoration : none;
                        &:hover,&:active,&:visited{
                            color : black;
                            background-color: #f6f6f6;
                        }
                    }
                }



                ul.sub-nav{
                    padding-left: 10px;
                    li{
                        padding: 10px 0 10px 15px;
                        &:hover,&:active,&:visited{
                            color : black;
                            background-color: #f6f6f6;
                        }
                        a{
                            padding-left: 30px;
                        }
                    }
                }
                
                ul.sub-sub-nav{
                    padding-left: 10px;
                    
                    li{
                        padding: 0;
                        a{
                            &:before{
                                content : ">";
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
        }
        
        
        #menu-footer{
            position: relative;
            width: 100%;
            
            .contact-speed{
                text-align: center;
                i{
                    cursor: pointer;
                    background-color: #dddddd;
                    margin: 5px;
                    padding: 15px;
                    color : white;
                    border-radius: 30px;
                }
            }
        }
    }
}



#content{
    min-height: 200px;
}
footer{
    background-color: #e9e8e7;
    margin-top: 20px;

    padding-left: 0;
    padding-right: 0;
    text-align: center;

    h1{
        color: #59595a;
        background-color: #d7d5d4;
        font-size: 16px;
        padding: 16px;
    }

    .mobile{
        p{
            padding: 20px;
        }
    }
    #footer-container-items{
        
        #itemContact{
            text-align : left;
            li{
                display: inline-block;
                
                i{
                    cursor: pointer;
                    background-color: #dddddd;
                    margin-right: 20px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 10px;
                    color : white;
                    border-radius: 30px;
                }
            }
        }
        
        .footer-item{
            margin-top: 10px;
            margin-bottom: 0px;
            padding-bottom: 40px;
            
            
            p{
                text-align: left;
            }
            
            &.border-right{
                border-right: 1px dotted #ccc;
            }
        }
        h2{
            text-align: left;
            font-size: 20px;
            text-transform: uppercase;
        }
        ul{
            padding-left : 0;

            &.child{
                padding-left: 20px;
            }

            li{
                list-style: none;
                text-align: left;
                
                a{
                    text-decoration: none;
                    color: #59595a;
                    
                    &:hover,&:active,&:focus{
                        text-decoration: underline;
                    }
                }
            }           
        }
    }


    p{
        margin : 0;
    }
}
.no-padding{
    padding : 0;
}



@media screen and (max-width: 640px) {
    #header-block{
        img{
            max-width: 80%;
        }
    }
    header{
        nav#main-nav{
            width : 80%;
            
            &.is-active{
                right : -80%;
            }
        }
    }
}
@media screen and (max-width: 762px){
    header{
        padding : 20px 10px;
        #header-block{
            i{
                &.search{
                    right: 60px;
                    bottom : 48px;
                }
            }
        }
    }
}
@media screen and (max-width: 992px){
    footer{
        #footer-container-items{
            .last-border-tab{
                border-right : none !important;
            }
        }
    }
}