{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div id="contact" class="container-fluid">
        <div class="row-fluid">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>Contact</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="presentation">
                            <p>AM</p>
                            <p>9 rue du château d'eau</p>
                            <p>85140 ESSARTS EN BOCAGE - STE FLORENCE</p>
                            <br />
                            <p>Tel <a href="tel:0251610058">02 51 61 00 58</a></p>
                            <p>Fax 02 51 61 00 74</p>
                            <p><a href="mailto:contact@am-agencement.com">contact@am-agencement.com</a></p>
                        </div>

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-xs-12">
                                <h2>Demande de renseignements ou devis</h2>
                            </div>

                        </div>

                        <div id="formulaire" class="row">
                            {{ form_start(form) }}
                                {{ form_errors(form) }}
                                    <div class="col-xs-12 col-md-6">
                                        {{ form_row(form.nom) }}
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        {{ form_row(form.prenom) }}
                                    </div>
                                    <div class="col-xs-12">
                                        {{ form_row(form.adresse) }}
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        {{ form_row(form.cp) }}
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        {{ form_row(form.ville) }}
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        {{ form_row(form.telephone) }}
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        {{ form_row(form.mail) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_row(form.societe) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_row(form.website) }}
                                    </div>
                                    <div class="col-xs-12">
                                        {{ form_row(form.message) }}
                                    </div>
                                    
                                    <div id="liste-produits" class="col-xs-12">
                                        
                                        <h4 v-if="tabProduit.length>1">${ tabProduit.length } produits dans le panier</h4>
                                        <h4 v-if="tabProduit.length==1">1 produit dans le panier</h4>
                                        <h4 v-if="tabProduit.length==0">Pas de produit dans le panier</h4>
                                        
                                        <div class="row">
                                            <div class="col-lg-3 col-xs-6 col-md-4" v-for="produit in tabProduit">
                                                <div class="col-lg-12">
                                                    <img class="panier-img" v-bind:src="produit.img"  />
                                                </div>
                                                <div class="ref col-lg-12" >
                                                    ${ produit.ref }  <span v-on:click="removeProduct(produit.ref)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12">
                                        {{ form_row(form.save) }}
                                    </div>
                                {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss' 
        '@AAEAMBundle/Resources/public/scss/Default/contact.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}