<ul id="menu-col-mobilier">
    <li><a href="{{ path('aaeam_activites_mobilier_catalogue_categorie',{'id':categories|first.id}) }}">Catalogue</a></li>
    <ul class="child">
        {% for categorie in categories %}
            <li><a href="{{ path('aaeam_activites_mobilier_catalogue_categorie',{'id':categorie.id}) }}">{{ categorie.nom }}</a></li>
        {% endfor %}
    </ul>
    <li><a href="{{ path('aaeam_activites_mobilier') }}">Sur-mesure</a></li>
    <li><a href="{{ path('aaeam_activites_mobilier_realisations') }}">Références</a></li>
</ul>