{% extends "AAEAMBundle::layout.html.twig" %}

{% block body %}
    
    <div id="container-title" class="container-fluid">
        <div class="row-fluid">
            <div class="container">
                <div class="row">
                    <h1>AM Agencement</h1>
                </div>
            </div>
        </div>
    </div>
    
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for image in images %}
                <div class="item {%if loop.first %} active {% endif %}">
                    <img src="{{ asset('uploads/images/slider_home/'~image.image) }}">
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for image in images %}
                <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %} active {% endif %}"></li>
            {% endfor %}
        </ol>
    </div>
        
    <div id="index-sub-menu" class="container">
        <div class="row">
            <div class="col-xs-4">
                <a href="{{ path('aaeam_activites_mobilier_catalogue_categorie',{'id':1}) }}">
                    <img src="{{ asset('bundles/aaeam/images/home/mobilier.png') }}">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="{{ path('aaeam_activites_terrasses') }}">
                    <img src="{{ asset('bundles/aaeam/images/home/terrasse.png') }}">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="{{ path('aaeam_activites_ossature') }}">
                    <img src="{{ asset('bundles/aaeam/images/home/ossature.png') }}">
                </a>
            </div>
        </div>
    </div>
        
    
    
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss'
        '@AAEAMBundle/Resources/public/scss/Default/index.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}
