{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>AM Agencement - Mentions légales</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <h3 class="sstitre">A. INFORMATIONS GENERALES</h3>
                    <p>Conformément aux dispositions des articles 6-III et 19 de la loi pour la Confiance dans l'Économie Numérique, nous vous informons que :</p>
                    <p>Le site Internet <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> est un site édité par&nbsp;:</p>
                    <p class="infos">
                            AM TERRASSES - AM MOBILIER				<br>
                            Société à Responsabilité Limitée au capital de 40.000 EUR
                            <br>
                            Inscrite aux RCS de La Roche sur Yon B sous le numéro 429642226 - APE 4332A				<br>
                            Assujettie à la TVA sous le numéro FR02429642226				<br>
                            Dont le siège social est situé : 9 rue du Château d'eau 85140 SAINTE FLORENCE - FRANCE			</p>
                    <p>Directeur de publication : Mr DOUILLET en qualité de gérant de la société AM TERRASSES - AM MOBILIER</p>
                    <br>
                    <p>Le prestataire assurant le stockage direct et permanent de <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> est&nbsp;:</p>
                    <p class="infos">
                            Network Consulting
                            <br>
                            SAS au capital de 100.000 euros
                            <br>
                            10 rue Louis de Broglie
                            <br>
                            CS 52383
                            <br>
                            44323 NANTES cedex 3
                            <br>
                            Tel. : 0826 80 46 78
                            <br>
                            Fax : 02.51.13.54.07
                    </p>
                    <br>
                    <p>Les utilisateurs du site peuvent contacter le webmestre par courriel à <span>contact@am-agencement.com</span></p>
                    <br>
                    <h3 class="sstitre">B. CONDITIONS D'UTILISATION</h3>
                    <p>	L'utilisateur reconnaît avoir pris connaissance et s'engage à respecter le cas échéant les conditions d'utilisation figurant sur une page spécifique, librement accessible à l’adresse&nbsp;: <a href="javascript:;" target="_blank" rel="nofollow">Lien vers les Conditions Générales de Vente</a></p>
                    <br>
                    <p>L'utilisateur du site&nbsp;internet&nbsp;<a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> reconnaît disposer de la capacité juridique, de la compétence et des moyens nécessaires pour accéder et utiliser ce Service.</p>
                    <br>
                    <p>L'utilisateur du Service reconnaît avoir vérifié que la configuration informatique utilisée ne contient aucun virus ou contenu susceptible de menacer la sécurité du Service et qu'elle est en parfait état de fonctionnement.</p>
                    <br>
                    <h3 class="sstitre">C. MISE EN GARDE SUR LES INFORMATIONS</h3>
                    <p>L'exploitant du Service met tout en œuvre pour offrir aux utilisateurs des informations et/ou outils disponibles et vérifiés mais ne saurait être tenu pour responsable des erreurs, d'une absence de disponibilité des informations et/ou de la présence d'un virus sur son site.</p>
                    <br>
                    <p>Les informations fournies par l'exploitant du Service et ses éventuels partenaires le sont à titre indicatif. Ceux-ci ne sauraient garantir l'exactitude, la complétude, l'actualité des informations diffusées par le Service. Ces informations ne sauraient dispenser l'utilisateur d'une analyse complémentaire et personnalisée.</p>
                    <br>
                    <p>En conséquence, l'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</p>
                    <br>
                    <p>Pour des raisons de maintenance, l'exploitant du Service pourra interrompre l'accès de son site et s'efforcera d'en avertir préalablement les utilisateurs dès lors que cela est possible.</p>
                    <br>
                    <h3 class="sstitre">D. DECLARATION</h3>
                    <p>En conformité avec les dispositions de la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, relatives à la protection des personnes physiques à l'égard des traitements de données à caractère personnel, le traitement automatisé des informations nominatives réalisé à partir du Service <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (CNIL).</p>
                    <br>
                    <h3 class="sstitre">E. DONNEES A CARACTERE PERSONNEL</h3>
                    <p>L'utilisateur est notamment informé que, conformément à l'article 32 de la loi n° 78-87 du 6 janvier 1978, les informations communiquées par l'utilisateur du fait des formulaires présents sur le Service sont nécessaires pour répondre à sa demande, et sont destinées à l'exploitant du Service, responsable du traitement, notamment à des fins de gestion administrative des inscriptions.</p>
                    <br>
                    <p>En tout état de cause <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> ne collecte des informations personnelles relatives à l’utilisateur (nom, adresse électronique, coordonnées téléphoniques) que pour le besoin des Services proposés, notamment pour l’inscription à des espaces de discussion par le biais de formulaires en ligne ou pour des traitements statistiques. L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à leur saisie. Il est alors précisé à l’utilisateur du Service le caractère obligatoire ou non des informations qu’il serait amené à fournir.</p>
                    <br>
                    <p>L'utilisateur est informé qu'il dispose d'un droit d'accès, d'interrogation et de rectification qui lui permet, le cas échéant, de faire rectifier, compléter, mettre à jour, verrouiller ou effacer les données personnelles le concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte, l'utilisation, la communication ou la conservation est interdite.</p>
                    <br>
                    <p>L'utilisateur dispose également d'un droit d'opposition au traitement de ses données pour des motifs légitimes ainsi qu'un droit d'opposition à ce que ces données soient utilisées à des fins de prospection commerciale.</p>
                    <br>
                    <p>L'ensemble de ces droits s'exerce auprès de <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> par courrier accompagné d'une copie d'un titre d'identité comportant une signature à adresser à : Alpha Vacances - ZI de la Peltière - 49740 LA ROMAGNE ou par l'intermédiaire du formulaire de courrier électronique <a href="http://www.am-agencement.com/fr/index.php?r=contact" target="_blank">http://www.am-agencement.com/fr/index.php?r==contact</a>.</p>
                    <br>
                    <p>L'utilisateur est informé que, lors de ses visites sur le site, un cookie peut s'installer automatiquement sur son logiciel de navigation.</p>
                    <br>
                    <p>Le cookie est un bloc de données qui ne permet pas d'identifier les utilisateurs mais sert à enregistrer des informations relatives à la navigation de celui-ci dans le Service.</p>
                    <br>
                    <p>Le paramétrage du logiciel de navigation permet d'informer de la présence de cookie et éventuellement de la refuser de la manière décrite à l'adresse suivante : <a href="http://www.cnil.fr/" target="_blank">http://www.cnil.fr/</a></p>
                    <br>
                    <p>L'utilisateur dispose d'un droit d'accès, de retrait et de modification des données personnelles communiquées par le biais du cookie dans les conditions indiquées ci-dessus.</p>
                    <br>
                    <p>Les utilisateurs du Service <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> sont eux-mêmes tenus de respecter les dispositions de la loi relative à l'Informatique, aux fichiers et aux libertés, dont la violation est passible de sanctions pénales.</p>
                    <br>
                    <p>Ils doivent notamment s'abstenir, s'agissant des informations à caractère personnel auxquelles ils accèdent, de toute collecte, de toute utilisation détournée et, d'une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.</p>
                    <br>
                    <h3 class="sstitre">F. DROITS DE PROPRIETE</h3>
                    <p>La structure générale, ainsi que les textes, images animées ou non, sons, savoir-faire..., et tout autre élément composant le site sont la propriété exclusive de l'exploitant du Service et de tiers ayant autorisé <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> à les exploiter.</p>
                    <br>
                    <p>	Toute représentation totale ou partielle de ce Service, par quelque procédé que ce soit, sans l'autorisation expresse de l'exploitant du site internet est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>
                    <br>
                    <p>	Il en est de même des bases de données figurant, le cas échéant, sur le Service qui sont protégées par les dispositions de la loi du 1er juillet 1998 portant transposition dans le Code de la propriété intellectuelle de la directive du 11 mars 1996 relative à la protection juridique des bases de données, et dont <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> est producteur.</p>
                    <br>
                    <p>	Les marques de <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> et de ses partenaires, ainsi que les logos figurant sur le site sont des marques déposées.</p>
                    <br>
                    <p>Toute reproduction totale ou partielle de ces marques ou logos, effectuée à partir des éléments du Service sans l'autorisation expresse de l'exploitant, est donc prohibée, au sens de l'article L.713-2 du Code de la propriété intellectuelle.</p>
                    <br>
                    <h3 class="sstitre">G. ETABLIR UN HYPERLIEN</h3>
                    <p>Les utilisateurs et visiteurs du Service ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de l'exploitant, c’est-à-dire de <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a>.</p>
                    <br>
                    <p>L'exploitant du Service ne saurait être responsable de l'accès par les utilisateurs via les liens hypertextes mis en place dans le cadre du site internet en direction d'autres ressources présentes sur le réseau internet.</p>
                    <br>
                    <h3 class="sstitre">H. DROIT APPLICABLE</h3>
                    <p>Le site <a href="http://www.am-agencement.com/" target="_blank">www.am-agencement.com</a> et les conditions générales sont soumis au droit français.</p>
                    <br>
                </article>
            </div>
        </div>
    </div>        
    
    </div>
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/imgHeader.scss' 
        '@AAEAMBundle/Resources/public/scss/Components/header.scss' 
        '@AAEAMBundle/Resources/public/scss/Default/mentions.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}