{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Qui sommes nous{% endblock %}

{% block body %}
    <div id="qui" class="container-fluid">
        <div class="row-fluid">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>Qui sommes nous ?</h1>
                    </div>
                </div>
            </div>
            
            <div id="img-header" style="background-image: url('{{ asset('bundles/aaeam/images/qui.png') }}')" /></div>
            
        </div>
        <div id="qui-content" class="row-fluid">
            <div class="col-lg-6 col-md-8 col-md-offset-2 col-lg-offset-3">
                <p>Située en Vendée, notre entreprise artisanale est spécialisée dans la transformation du bois en passant de la conception et la commercialisation de nos produits. Nous avons su évoluer aux fils des années, en s’adaptant sans cesse aux marchés actuels. </p>
                <p>Notre expertise s’entend dans différents domaines : les terrasses de loisirs (mobil-home et particuliers), le mobilier professionnel (hôtels, bars, restaurants, collectivités), la construction de maisons ossature bois et maison mobile.</p>
                <p>Parce que votre établissement ou votre projet doit sans cesse évoluer en fonction du design actuel, nous mettons nos compétences à votre service ! Nos différentes collaborations nous ont apporté un savoir-faire unique nous permettant de vous guider. Chaque projet s’adapte à vos envies puisqu’une personnalisation est possible à tout moment.</p>
                <p><a href="{{ path('aaeam_contact') }}">N’hésitez pas à nous contacter</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/imgHeader.scss' 
        '@AAEAMBundle/Resources/public/scss/Components/header.scss' 
        '@AAEAMBundle/Resources/public/scss/Default/qui.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}