#container-title{
    margin: 0 -15px;
    background-color: #9e1881;

    h1{
        position: sticky;
        top : 10px;
        background-color : #9e1881;
        &:before{
            content: "/";
            position: relative;
            bottom: 11px;
            left : 0px;
            font-weight: bold;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 796px) {
    #container-title{
        background-color : transparent !important;
        h1{
            &:before{
                left : 20px;
                margin-right: 25px;
            }
        }
    }
}