#img-header{
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 -15px;
}
@media screen and (max-width : 750px){
    #img-header{
        height : 100px;
    }
}