#submenu{
    margin-right: -20px;
    ul.hidden-xs{
        padding-left: 0px;
        list-style : none;
        li{
            display: inline-block;
            a{
                text-transform: uppercase;
                text-decoration: none;
                font-size: 16px;
                font-weight: bold;
                color : #575656;
                &:hover,&.active{
                    border-bottom: 1px solid #9e1881;
                }
                &:before{
                    content : "/";
                    color : #9e1881;
                    margin-right: 10px;
                }
            }
        }
    }
    
    
    
    .dropdown{
        user-select: none;
        button#dLabel{
            text-transform: uppercase;
            font-size: 16px;
            color : #575656;
            text-decoration : none;
            
            i.material-icons{
                background-color: #9e1881;
                color : white;
                margin-left: 10px;
                position: relative;
                top: 3px;
            }
        }
        ul{
            li{
                list-style : none;
                &:hover{
                    background-color: #f5f5f5;
                }
                a{
                    text-transform: uppercase;
                    font-size: 16px;
                    display: block;
                    text-decoration: none;
                    color : #575656;
                    &:hover{
                        text-decoration: underline;
                        
                    }
                    &:before{
                        content : "> ";
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    
}