{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Terrasses{% endblock %}
{% set title = 'Terrasses' %}

{% block body %}
    <div id="terrasses" class="container-fluid">
        <div class="row">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
            
            <div id="img-header" style="background-image: url('{{ asset('bundles/aaeam/images/terrasses.jpg') }}')" /></div>
            
            <div id="content" class="container">
                <div class="row">
                    {{ render(controller('AAEAMBundle:Terrasse:subMenu',{ 'active': 1, 'title' : title })) }}
                </div>
                <div class="row-fluid">
                    <div class="col-lg-6">
                        <p>
                            Notre expérience nous permet de vous proposer des produits toujours plus esthétiques, solides et faciles au montage. Situés en Vendée, nous fabriquons des terrasses en bois pour les professionnels de l'hôtellerie de plein air. 
                            <br />
                            <br />
                            Voici un échantillon de nos produits >>
                        </p>
                        <a id="terrasse_contact" href="{{ path('aaeam_contact') }}">
                            > Nous contacter
                        </a>
                    </div>
                    <div id="container-catalogue" class="col-lg-6">
                        <div class="row">
                        {% for catalogue in catalogues %}
                            <div class="item-catalogue col-lg-6 col-sm-6 col-xs-12">
                                <a target="_blank" href="{{ asset( path.img.catalogue_pdf ~ catalogue.pdf) }}">
                                    <img src="{{ asset( path.img.catalogue_image ~ catalogue.image) }}" alt="image du catalogue" />
                                    <span class="catalogue-title">{{ catalogue.nom }}</span>
                                    <i class="material-icons">publish</i>
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/subMenu.scss'
        '@AAEAMBundle/Resources/public/scss/Components/imgHeader.scss'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss'
        '@AAEAMBundle/Resources/public/scss/Terrasse/subMenu.scss' 
        '@AAEAMBundle/Resources/public/scss/Terrasse/index.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}