<div id="submenu">
    <ul class="hidden-xs hidden-sm">
        <li><a href="{{ path('aaeam_activites_terrasses') }}" type="button" class="btn btn-link {% if active == 1 %} active{% endif %}">Nos produits phares</a></li>
        <li><a href="{{ path('aaeam_activites_terrasses_sur_mesure') }}" type="button" class="btn btn-link {% if active == 2 %} active{% endif %}">Notre offre sur-mesures</a></li>
        <li><a href="{{ path('aaeam_activites_terrasses_realisations') }}" type="button" class="btn btn-link {% if active == 3 %} active{% endif %}">Nos réalisations</a></li>
    </ul>
    <div class="dropdown hidden-lg hidden-md">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-link">
            {{ title }}
            <i class="material-icons">keyboard_arrow_down</i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="{{ path('aaeam_activites_terrasses') }}" >Nos produits phares</a></li>
            <li><a href="{{ path('aaeam_activites_terrasses_sur_mesure') }}" >Notre offre sur-mesures</a></li>
            <li><a href="{{ path('aaeam_activites_terrasses_realisations') }}" >Nos réalisations</a></li>
        </ul>
    </div>
</div>