{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Terrasse - Notre offre sur-mesures{% endblock %}
{% set title = 'Terrasse - Sur-mesures' %}
{% block body %}
    <div id="catalogue" class="container-fluid">
        <div class="row">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
            
            <div id="img-header" style="background-image: url('{{ asset('bundles/aaeam/images/terrasses.jpg') }}')" /></div>
        
        
            <div id="content" class="container">
                <div class="row">
                    {{ render(controller('AAEAMBundle:Terrasse:subMenu',{ 'active': 2, 'title' : title })) }}
                </div>
                <div class="row-fluid">
                    <p>
                        Fabricant de terrasses depuis 20 ans, notre expérience nous permet de vous proposer également du sur-mesure pour des projets spécifiques. Que vous souhaitiez valoriser votre habitat, résidence secondaire ou de loisirs par des aménagements naturels, ou que vous désiriez des solutions personnalisées et adaptées à votre projet, à vos goûts et à votre budget, AM Agencement saura vous répondre tout en conservant une qualité dans le choix des matériaux et un soin apporté à la fabrication.
                        <br />
                        <br />
                        Pour toute demande, n’hésitez pas à nous contacter.
                    </p>
                    <a id="link_devis" href="{{ path('aaeam_contact') }}">
                        > Nous contacter
                    </a>
                </div>   
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss'
        '@AAEAMBundle/Resources/public/scss/Components/subMenu.scss'
        '@AAEAMBundle/Resources/public/scss/Components/imgHeader.scss'
        '@AAEAMBundle/Resources/public/scss/Mobilier/surMesure.scss' 
        '@AAEAMBundle/Resources/public/scss/Terrasse/surMesure.scss' 
        '@AAEAMBundle/Resources/public/scss/Terrasse/subMenu.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}