#catalogue{
    h1{
        background-color: #9e1881;
    }
    
    #content{
        margin-top: 10px;
        margin-bottom: 20px;
        
        .item-produit{
            cursor : pointer;
            text-align: center;
            height: 185px;
            
            img{
                height: 150px;
                margin: 5px;
                cursor : pointer;
            }
            
            &:hover{
                /*background-color: red;*/
                outline: 1px solid #ccc;
            }
        }
        
/*        #liste-produit{
            margin-top: -50px;
        }*/
    }
    
    #navigation{
        text-align: center;
        .pagination{
            &>.active{
                &>span{
                    background-color: #9e1881;
                    border-color: #9e1881;
                }
            }
            &>li{
                &>a{
                    color : #9e1881;
                }
            }
            
        }
    }
}