#list-category{
    padding-left: 0;
    text-align: center;
    margin-top: 40px;
    list-style : none;

    li{
        line-height: 165px;
        display: inline-block;

        .item-catalogue{
            /*padding: 100px 35px 20px;*/
            display: block;
            width: 120px;
            height: 130px;
            text-align: center;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            background-position-y: 15px;
            text-transform: uppercase;
            font-weight: bold;
            color: #575656;
            
            span{
                position: relative;
                bottom: -35px;
            }

            &:hover,&:active,&:focus{
                background-color: #9e1881;
                color : white;
                text-decoration: none;
            }
            &.border{
                border-right : 1px solid #ccc;
            }
            
            &.active{
                color : #9e1881;
                
                &:hover{
                    color : white;
                }
            }
        }
    }
}