#realisation{
    #content{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
#gallerie{
    margin-top : 15px;
    
    .img-realisation{
        margin-bottom: 20px;

        img{
            max-width: 100%;
            cursor : pointer;

            background-color: #9e1881;
            padding-bottom: 4px;

        }

        .realisation-titre{
            background-color: white;
            padding: 5px 10px;
            color : black;
            position: relative;
            bottom: 80px;
            opacity: 0;
            transition: all 0.5s;
            text-transform: uppercase;
        }

        &:hover{
            .realisation-titre{
                bottom : 30px;
                opacity: 1;
            }

            img{
                outline : 4px solid #9e1881;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    #gallerie{
        .img-realisation{
            .realisation-titre{
                bottom : 30px;
                opacity: 1;
            }

            img{
                outline : 4px solid #9e1881;
            }
        }
    }
}