#container-title{
    background-color: #575656;
    
    h1{
        background-color: #575656;
        overflow: hidden;
        height: 40px;
        line-height: 25px;
    }
}

#recherche{
    padding: 25px 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f9f9f9;
    background-position: 50%;
    background-size: cover;
    transition-duration: .3s;
    
    .glyphicon{
        margin-right: 5px;
    }
    
    .btn-success{
        background-color: #9a258f;
        border-color: #d29fce;
        text-transform: uppercase;
    }
}

#recherche-resultat{
    padding: 10px 0;
    background-color: white;
    min-height: 200px; 
    
    h2{
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 24px;
    }
    
    .item-produit{
        cursor : pointer;
        text-align: center;
        height: 185px;

        img{
            height: 150px;
            margin: 5px;
            cursor : pointer;
        }

        &:hover{
            outline: 1px solid #ccc;
        }
    }
}

@media screen and (max-width: 762px){
    #recherche-resultat{
        h2{
            font-size: 18px;
        }
    }
}