#catalogue{
   
    
    #content{
        margin-top: 10px;
        margin-bottom: 20px;
        
        p{
            text-align: justify;
            font-size: 16px;
            margin : 20px 0px;
        }
    }
}
#link_devis{
    text-transform: uppercase;
    color: #9e1881;
    font-size: 18px;
    margin-top: 5px;
    display: block;


    &:hover{
        text-decoration: underline;
    }
}

@media screen and (max-width : 750px){
    #catalogue{
        #content{
            #submenu{
                li{
                    width: 100%;
                    a{
                        text-align: left;
                        width: 85%;
                    }
                }
            }
        }
    }
}