#catalogue-produit{
    
    padding-right : 0;
    padding-left : 0;
    
    #container-header{
        margin-top: 10px;
        
    }
    
    h1{
        background-color: #9e1881;
        text-indent: 20px;
    }
    
    #content{
        margin-top: 0px;
        margin-bottom: 0px;
        
        #produit-reference{
            outline: 2px solid black;
            h2{
                margin : 0;
                color : #9e1881;
                text-transform: uppercase;
                padding: 5px;
                font-size: 20px;
                text-align: center;
            }
        }
        
        #add-produit{
            p{
                text-align: right;
                text-transform: uppercase;
/*                margin-right: 35px;*/
            }
            img{
                float: left;
                cursor : pointer;
            }
        }
        
        #produit-img{
            text-align: center;
        }
        
        #produit-desc{
            h1{
                background-color: white;
                color : #575656;
                font-weight: bold;
                border-bottom: 2px solid #9e1881;
                text-indent: 0px;
                letter-spacing: 0.8px;
                margin: 0 0 0 10px;
            }
            h2{
                text-transform: uppercase;
                font-size: 18px;
                color : #9e1881;
                text-indent: 10px;
                
                &:before{
                    content : "> ";
                }
            }
            .desc{
                margin-left: 10px;
            }
            
            .img-declinaison{
                text-align : center;
                img{
                    max-height: 100px;
                }
            }
        }
        
    }
}


@media screen and (max-width: 1200px) {
    #catalogue-produit{
        #content{
            #produit-desc{
                margin-top: 60px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    #produit-img{
        text-align: center;
        img{
            max-height: 220px;
        }
    }
    
}