{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Ossature Bois{% endblock %}
{% set title = 'Ossature Bois' %}
{% block body %}
    <div id="ossatures" class="container-fluid">
        <div class="row">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
            
            <div id="img-header" style="background-image: url('{{ asset('bundles/aaeam/images/ossatures.jpg') }}')" /></div>
            
            <div id="content" class="container">
                <div class="row">
                    {{ render(controller('AAEAMBundle:Ossature:subMenu',{ 'active': 1, 'title' : title })) }}
                    
                    <div class="col-xs-12">
                        <p>Nous sommes des artisans qui ont adapté notre savoir-faire d’ossature bois afin de pouvoir vous proposer des produits novateurs et au plus proches de vos attentes. Deux sites dédiés vous expliquent plus en détails ces produits :</p>

                        <div class="website row">
                            <div class="item-website col-lg-6">
                                <div class="row">
                                    <div class="icons col-xs-2">
                                        <i class="material-icons">phonelink</i>
                                    </div>
                                    <div class="col-xs-10">
                                        <p>Nos toiles de tente sur châssis bois vous permettront d’élargir votre offre de location tout en conservant un aspect écologique !</p>
                                        <a target="_blank" href="http://les-toilesfilantes.com/"><span class="chevron">> </span> Les toiles filantes</a>
                                    </div>  
                                </div>
                            </div>
                            <div class="item-website col-lg-6">
                                <div class="row">
                                    <div class="icons col-xs-2">
                                        <i class="material-icons">phonelink</i>
                                    </div>
                                    <div class="col-xs-10">
                                        <p>Nos résidences de loisirs vous permettront de profiter pleinement de vos instants détente avec tout le confort d’une maison traditionnelle.</p>
                                        <a target="_blank" href="http://www.am-agencement.com/fr/ossatures-bois/index.php?r=ma-maison-mobile"><span class="chevron">> </span> Envie d'évasion</a>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/imgHeader.scss'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss'
        '@AAEAMBundle/Resources/public/scss/Components/subMenu.scss'
        '@AAEAMBundle/Resources/public/scss/Ossature/index.scss' 
        '@AAEAMBundle/Resources/public/scss/Ossature/subMenu.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}