{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Ossature bois - Nos réalisations{% endblock %}
{% set title = 'Ossature bois - Nos réalisations' %}
{% block body %}
    <div id="realisation" class="container-fluid">
        <div class="row">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
            
            <div id="img-header" style="background-image: url('{{ asset('bundles/aaeam/images/ossatures.jpg') }}')" /></div>
        
        
            <div id="content" class="container">
                <div class="row">
                    {{ render(controller('AAEAMBundle:Ossature:subMenu',{ 'active': 3, 'title' : title })) }}
                </div>  
                    
                    
                <div id="gallerie" class="row">
                    {% for img in imgs %} 
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-realisation">
                            <img data-index="{{ loop.index0 }}" data-titre="{{ img.legende }}" src="{{ asset( path.img.slider ~ img.image) }}" />
                            <div class="realisation-titre">{{ img.titre }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
                        
                        
                        
                        
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
             It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <div class="pswp__container">
                <!-- don't modify these 3 pswp__item elements, data is added later on -->
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>                    
                        
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css" />

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss' 
        '@AAEAMBundle/Resources/public/scss/Components/imgHeader.scss' 
        '@AAEAMBundle/Resources/public/scss/Components/subMenu.scss' 
        '@AAEAMBundle/Resources/public/scss/Ossature/subMenu.scss' 
        '@AAEAMBundle/Resources/public/scss/Mobilier/realisations.scss' 
        '@AAEAMBundle/Resources/public/scss/Ossature/realisations.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
    
    <script>
        
        var openPhotoSwipe = function(items,index) {
            var pswpElement = document.querySelectorAll('.pswp')[0];

            {#// build items array
            var items = [
                {
                    src: 'https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg',
                    w: 964,
                    h: 1024
                },
                {
                    src: 'https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg',
                    w: 1024,
                    h: 683
                }
            ];#}

            // define options (if needed)
            var options = {
                index : index,
                getThumbBoundsFn: function(index) {

                    // find thumbnail element
                    var thumbnail = document.querySelectorAll('.img-realisation img')[index];

                    // get window scroll Y
                    var pageYScroll = window.pageYOffset || document.documentElement.scrollTop; 
                    // optionally get horizontal scroll

                    // get position of element relative to viewport
                    var rect = thumbnail.getBoundingClientRect(); 

                    // w = width
                    return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};

                },                
            };

            var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        };

{#        openPhotoSwipe();#}


        $('.img-realisation img').click(function(){
            var index = $(this).data('index');
            var items = [];
            $('.img-realisation img').each(function() {
                var obj = {
                    src : $(this).attr('src'),
                    w : $(this)[0]['naturalWidth'],
                    h : $(this)[0]['naturalHeight'],
                    author : 'dsqdsqdq',
                    title : $(this).data('titre'),
                }
                items.push(obj);
            });
            
            openPhotoSwipe(items,index);
        });
{#        document.getElementById('btn').onclick = openPhotoSwipe;#}
        
    </script>
{% endblock %}