{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Ossature bois - Notre offre sur-mesures{% endblock %}
{% set title = 'Ossature bois - Sur-mesures' %}
{% block body %}
    <div id="catalogue" class="container-fluid">
        <div class="row">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
            
            <div id="img-header" style="background-image: url('{{ asset('bundles/aaeam/images/ossatures.jpg') }}')" /></div>
        
        
            <div id="content" class="container">
                <div class="row">
                    {{ render(controller('AAEAMBundle:Ossature:subMenu',{ 'active': 2, 'title' : title })) }}
                </div>
                <div class="row-fluid">
                    <p>
                        Fort d’une expérience de plus de 20 ans, nous détenons une solide expérience et un savoir-faire reconnu en matière de construction bois. Nous réalisons et adaptons vos envies à votre projet (maison ossature bois, extensions, agrandissement...). De nombreux clients nous ont déjà fait confiance.
                        <br />
                        <br />
                        Pour toute demande, n’hésitez pas à nous contacter par mail afin de convenir d’un rendez-vous dans nos locaux.
                    </p>
                    <a id="link_devis" href="{{ path('aaeam_contact') }}">
                        > Nous contacter
                    </a>
                </div>   
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss'
        '@AAEAMBundle/Resources/public/scss/Components/subMenu.scss'
        '@AAEAMBundle/Resources/public/scss/Components/imgHeader.scss'
        '@AAEAMBundle/Resources/public/scss/Mobilier/surMesure.scss' 
        '@AAEAMBundle/Resources/public/scss/Ossature/surMesure.scss' 
        '@AAEAMBundle/Resources/public/scss/Ossature/subMenu.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}