#container-title{
    background-color: #575656;
    
    h1{
        background-color: #575656;
    }
}
#contact{
    
    #presentation{
        padding: 20px;
        text-align: center;
        
        p{
            font-family: 'Roboto Condensed', sans-serif;
            margin: 0;
            font-size: 14px;
            
            a{
                color : black;
                &:hover{
                    text-decoration: none;
                    color : #030000;
                }
            }
        }
    }
    h2{
        border : 2px solid #575656;
        text-align: center;
        text-transform: uppercase;
        margin: 20px 0 35px;
        padding: 10px;
        font-weight: bold;
        font-size: 14px;
    }
    
    #formulaire{
        button[type="submit"]{
            width: 100%;
            border-radius: 0;
            text-transform: uppercase;
            background-color: #575656;
            border-color: #8a8787;
            color : white;
            
            &:hover{
                background-color: #8a8787;
                border-color: #575656;
            }
        }
        .form-control{
            border-radius: 0;
            border : 2px solid #575656;
            
            &:focus{
                border-color: #575656;
            }
        }
    }
    
    #liste-produits{
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        
        img.panier-img{
            height: 150px; 
        }
        .ref{
            text-align: center;
        }
        .glyphicon{
            cursor : pointer;
        }
    }
}