#container-title{
    background-color: #575656;
    
    h1{
        background-color: #575656;
    }
}

#carousel{
    .carousel-inner{
        max-height: 350px;
    }
}

#index-sub-menu{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 90px;
    
    img{
        transition: transform 0.5s;
        max-height: 175px;
        
        &:hover{
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width: 640px) {
    #carousel{
        .carousel-inner{
            max-height: 450px;
        }
    }
    #index-sub-menu{
        margin-top: 35px;
        margin-bottom: 50px;

        img{
            max-height: 90px;
        }
    }
}
/*@media screen and (max-width: 992px){
    footer{
        #footer-container-items{
            .last-border-tab{
                border-right : none !important;
            }
        }
    }
}*/