#container-title{
    background-color: #575656;
    
    h1{
        background-color: #575656;
    }
}
.sstitre{
    color: #575656;
    font-size: 18px;
}
p{
    color: #565555;
    margin: 0;
    padding: 0;
}
.infos {
    font-style: italic;
}
article{
    text-align: justify;
}