#container-title{
    background-color: #575656;
    
    h1{
        background-color: #575656;
    }
}

#qui{
    p{
        font-family: 'Roboto Condensed', sans-serif;
        color: #575656;
        text-align: justify;
    }
    
    #img-qui{
        margin-bottom: 25px;
    }
}
#qui-content{
    margin-top: 20px;
}