#container-title{
    background-color: #f7ac41;
}

#ossatures{
    
    h1{
        background-color: #f7ac41;
    }
    
    #content{
        margin-top: 10px;
        margin-bottom: 20px;
        
        p{
            text-align: justify;
            font-size: 16px;
        }
        
        .website{
            margin-top: 30px;
            
            .item-website{
                margin-bottom: 20px;
            }
            
            .icons{
                text-align : center;
                
                i{
                    background-color: #ccc;
                    font-size: 30px;
                    padding: 12px;
                    color: #fff;
                    border-radius: 40px;
                }
            }
            
            a{
                text-transform: uppercase;
                color : #575656;
                text-indent: 20px;
                font-weight: bold;
                
                .chevron{
                    color: #f7ac41;
                    margin-right: 5px;
                    text-decoration: none !important;
                }
                
                &:hover,&:active,&:visited,&:focus{
                    border-bottom : 1px solid #f7ac41;
                    text-decoration: none;
                }
            }
        }
    }
}