#container-title{
    background-color: #f7ac41;
}
#realisation{
    h1{
        background-color: #f7ac41;
    }
    
    .img-realisation{
        img{
            background-color: #f7ac41;
        }
        &:hover{
            img{
                outline : 4px solid #f7ac41;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    #gallerie{
        .img-realisation{
            img{
                outline : 4px solid #f7ac41;
            }
        }
    }
}