#submenu{
    ul.hidden-xs{
        li{
            a{
                &:hover,&.active{
                    border-bottom: 1px solid #f7ac41;
                }
                &:before{
                    color : #f7ac41;
                }
            }
        }
    }
    .dropdown{
        button#dLabel{
            i.material-icons{
                background-color: #f7ac41;
            }
        }
    }
}