<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}AM Agencement{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
            <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
            
            {% stylesheets filter='scssphp'
                '@AAEAMBundle/Resources/public/scss/layout.scss' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
            
        {% endblock %}
    </head>
    <body>
        <div id="app">
            <header>

                <div class="container" id="header-block">
                    <div class="row">
                        <div class="col-md-5 col-xs-10">
                            {% image '@AAEAMBundle/Resources/public/images/logoAM.svg' %}
                                <a href="{{ path('aaeam_homepage') }}">
                                    <img class="img-responsive" src="{{ asset_url }}" alt="Logo" />
                                </a>
                            {% endimage %}
                        </div>
                        <div class="col-md-7 col-xs-2 action" v-cloak >
                            <i class="material-icons menu" v-on:click="toggleMenu">${ iconMenu }</i>
                            <span data-toggle="tooltip" data-placement="bottom" title="Nombre de produits dans le panier " v-if="tabProduit.length>0" v-on:click="toggleMenu" id="layoutNbProduit">${ tabProduit.length }</span>
                            <i class="material-icons search" v-on:click="switchToSearch">search</i>
                        </div>
                    </div>
                </div>


                <nav id="main-nav" class="load" v-cloak v-bind:class="{ 'is-active': !afficheMenu }">
                    <div id="container-nav" class="row-fluid">
                        <ul id="nav-first" >
                            <li><a href="{{ path('aaeam_homepage') }}">Accueil</a></li>
                            <li><a href="#">Nos activités</a></li>
                                <ul class="sub-nav">
                                    <li class="collapsed" data-toggle="collapse" data-target="#menu-col-mobilier">Mobilier</li>
                                    <ul id="menu-col-mobilier" class="sub-sub-nav collapse">
                                        <li><a href="{{ path('aaeam_activites_mobilier_catalogue_categorie',{'id':1}) }}">Notre catalogue en ligne</a></li>
                                        <li><a href="{{ path('aaeam_activites_mobilier') }}">Notre offre sur-mesures</a></li>
                                        <li><a href="{{ path('aaeam_activites_mobilier_realisations') }}">Nos réalisations</a></li>
                                    </ul>
                                    
                                    <li class="collapsed" data-toggle="collapse" data-target="#menu-col-terrasse">Terrasses</li>
                                    <ul id="menu-col-terrasse" class="sub-sub-nav collapse">
                                        <li><a href="{{ path('aaeam_activites_terrasses') }}">Nos produits phares</a></li>
                                        <li><a href="{{ path('aaeam_activites_terrasses_sur_mesure') }}">Notre offre sur-mesures</a></li>
                                        <li><a href="{{ path('aaeam_activites_terrasses_realisations') }}">Nos réalisations</a></li>
                                    </ul>
                                    
                                    <li class="collapsed" data-toggle="collapse" data-target="#menu-col-ossature">Ossature Bois</li>
                                    <ul id="menu-col-ossature" class="sub-sub-nav collapse">
                                        <li><a href="{{ path('aaeam_activites_ossature') }}">Nos produits phares</a></li>
                                        <li><a href="{{ path('aaeam_activites_ossature_sur_mesure') }}">Notre offre sur-mesures</a></li>
                                        <li><a href="{{ path('aaeam_activites_ossature_realisations') }}">Nos réalisations</a></li>
                                    </ul>
                                </ul>
                            </li>
                            <li><a href="{{ path('aaeam_qui') }}">Qui sommes nous ?</a></li>
                            <li><a href="{{ path('aaeam_contact') }}">Contact</a></li>
                        </ul>
                    </div>
                    <div id="menu-footer" class="row-fluid">
                        <div class="col-xs-4 contact-speed">
                            <a target="_blank" href="https://www.google.fr/maps/place/AM+Agencement/@46.8003582,-1.1840416,13z/data=!4m18!1m12!4m11!1m3!2m2!1d-1.1565758!2d46.8015332!1m6!1m2!1s0x480687bfd9496ac7:0x9671178b426b335b!2sam+agencement!2m2!1d-1.1490223!2d46.8003635!3m4!1s0x480687bfd9496ac7:0x9671178b426b335b!8m2!3d46.8003635!4d-1.1490223"><i class="material-icons">location_on</i></a>
                        </div>
                        <div class="col-xs-4 contact-speed">
                            <a href="{{ path('aaeam_contact') }}"><i class="material-icons">mail</i></a>
                        </div>
                        <div class="col-xs-4 contact-speed">
                            <a target="_blank" href="tel:0251610058"><i class="material-icons">phone</i></a>
                        </div>
                    </div>
                </nav>
            </header>


            <div id="content">
                {% block body %}

                {% endblock %} 
            </div>

            <footer class="container-fluid">
                <div class="row-fluid">
                    <div class="container visible-xs mobile">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>AM - 9 rue du château d’eau <br />85140 ESSARTS EN BOCAGE - STE FLORENCE
                                    <br />Tel 02 51 61 00 58 - Fax 02 51 61 00 74 <br /> contact@am-agencement.com
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="hidden-xs pc">
                        <h1>AM Agencement | 9 rue du château d’eau | 85140 ESSARTS EN BOCAGE | STE FLORENCE | Tel 02 51 61 00 58 | Fax 02 51 61 00 74</h1>
                        <div id="footer-container-items" class="container">
                            <div class="row">
                                <div class="footer-item border-right col-md-2 col-sm-4">
                                    <h2>Mobilier</h2>
                                    {{ render(controller('AAEAMBundle:Default:layoutCategory')) }}
                                </div>
                                <div class="footer-item border-right col-md-2 col-sm-4">
                                    <h2>Terrasses</h2>
                                    <ul class="child">
                                        <li><a href="{{ path('aaeam_activites_terrasses') }}">Catalogue</a></li>
                                        <ul class="child">
                                            <li><a href="#">Terrasses</a></li>
                                            <li><a href="#">Mobilier extérieur</a></li>
                                        </ul>
                                        <li><a href="{{ path('aaeam_activites_terrasses_sur_mesure') }}">Sur-mesure</a></li>
                                        <li><a href="{{ path('aaeam_activites_terrasses_realisations') }}">Références</a></li>
                                    </ul>
                                </div>
                                <div class="footer-item border-right last-border-tab col-md-2 col-sm-4">
                                    <h2>Ossature Bois</h2>
                                    <ul>
                                        <li><a href="{{ path('aaeam_activites_ossature') }}">Nos produits phares</a></li>
                                        <ul class="child">
                                            <li><a target="_blank" href="http://les-toilesfilantes.com/">Toiles Filantes</a></li>
                                            <li><a target="_blank" href="http://www.am-agencement.com/fr/ossatures-bois/index.php?r=ma-maison-mobile">Envie d'évasion</a></li>
                                        </ul>
                                        <li><a href="{{ path('aaeam_activites_ossature_sur_mesure') }}">Sur-mesure</a></li>
                                        <li><a href="{{ path('aaeam_activites_ossature_realisations') }}">Références</a></li>
                                    </ul>
                                </div>
                                <div class="footer-item  col-md-6 col-sm-12">
                                    <h2>Contactez-nous</h2>
                                    <p>
                                        Besoin d'un renseignement sur un produit, d'un rendez-vous avec nos commerciaux ou d'une information autre, nous sommes à votre disposition :
                                    </p>
                                    <ul id="itemContact">   
                                        <li><a target="_blank" href="https://www.google.fr/maps/place/AM+Agencement/@46.8003582,-1.1840416,13z/data=!4m18!1m12!4m11!1m3!2m2!1d-1.1565758!2d46.8015332!1m6!1m2!1s0x480687bfd9496ac7:0x9671178b426b335b!2sam+agencement!2m2!1d-1.1490223!2d46.8003635!3m4!1s0x480687bfd9496ac7:0x9671178b426b335b!8m2!3d46.8003635!4d-1.1490223"><i class="material-icons">location_on</i></a></li>
                                        <li><a target="_blank" href="mailto:contact@am-agencement.com"><i class="material-icons">mail</i></a></li>
                                        <li><a target="_blank" href="tel:0251610058"><i class="material-icons">phone</i></a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="{{ path('aaeam_mentions') }}">Mentions Légales</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.3/vue.js"></script>
        
        <script>
            
            class Produit {
                constructor(ref, img) {
                    this.ref = ref;
                    this.img = img;
                }
            }
            
            var instanceVue = new Vue({
                delimiters: ['${', '}'],
                el: '#app',
                data: {
                    afficheMenu: false,
                    iconMenu : 'menu',
                    tabProduit : [],
                    contentPanier : '',
                    recherche : '',
                    resultatRecherche : [],
                },
                created : function() {
                    var localProduit = localStorage.getItem('tabProduits');
                    if (localProduit!==null) {
                        this.tabProduit = JSON.parse(localProduit);
                    }
                },
                methods:{
                    toggleMenu : function(){
                        this.afficheMenu = !this.afficheMenu;
                        this.iconMenu = (this.afficheMenu) ? 'close' : 'menu';
                    },
                    addProduct : function(reference,img){
                        var produit = new Produit(reference,img);
                        this.tabProduit.push(produit);
                    },
                    exist : function(ref){
                        var result = this.tabProduit.filter(function(p) {
                            return p.ref === ref; // Filter out the appropriate one
                        })[0];
                        return typeof result==='undefined';
                    },
                    removeProduct : function(ref){
                        var tabProduit = this.tabProduit.filter(function(p) {
                            return p.ref !== ref;
                        });
                        this.tabProduit = tabProduit;
                    },
                    switchToSearch : function(){
                        window.location.href="{{ path('aaeam_activites_mobilier_recherche') }}";
                    },
                    linkToProduit : function(reference){
                        var url = "{{ path('aaeam_activites_mobilier_catalogue_produit',{'ref' : 999999}) }}";
                        url = url.replace('999999',reference);
                        window.location.href=url;
                    }
                },
                watch : {
                    tabProduit : function(){
                        localStorage.setItem('tabProduits',JSON.stringify(this.tabProduit));
                        
                        var contentPanier = '';
                        for (var i = 0; i < this.tabProduit.length; i++) {
                            if(i>0){
                                contentPanier += ' | ';
                            }
                            contentPanier += this.tabProduit[i]['ref'];
                        }
                        
                        this.contentPanier = contentPanier;
                    },
                    recherche : function(valRecherche){
                        var self = this;
                        var xhrQuery = $.ajax({
                            method: 'POST',
                            url: "{{ path('aaeam_activites_mobilier_recherche') }}",
                            dataType : 'json',
                            data : {
                                recherche : valRecherche,
                            },
                            success : function(data){
                                self.resultatRecherche = data;
                            }
                        });
                    }
                }
            });
            
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            
        </script>
        
    {% endblock %}
</html>
