{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Mobilier - Catalogue{% endblock %}
{% set title = 'Mobilier - Catalogue - '~ categorie.nom %}
{% block body %} 
    <div id="catalogue" class="container-fluid">
        <div class="row">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
                    
            <div class="hidden-lg hidden-md" id="img-header" style="background-image: url('{{ asset('bundles/aaeam/images/catalogue/header/menu.jpg') }}')" /></div>

       
            <div id="container-header" class="container">
                <div id="content" class="row">
                    
                    <div class="col-lg-12">
                        <div class="row">
                            {{ render(controller('AAEAMBundle:Mobilier:subMenu',{ 'active': 1,'title' : title })) }}
                        </div>
                        <div class="row-fluid">
                            {{ render(controller('AAEAMBundle:Mobilier:listeCategory',{ 'idCategory': categorie.id })) }}
                        </div> 
                    </div>
                    
                    <div class="row">
                        <div id="liste-produit" class="col-lg-12">
                            {% for produit in pagination %} 
                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 item-produit">
                                    <div class="col-lg-12">
                                        <a href="{{ path('aaeam_activites_mobilier_catalogue_produit',{'ref':produit.reference}) }}">
                                            <img src="{{ asset( path.img.produits ~ produit.image) }}" />
                                        </a>
                                    </div>
                                    <div class="ref col-lg-12">
                                        {{ produit.reference }}
                                        <span v-if="exist('{{ produit.reference }}')" v-on:click="addProduct('{{ produit.reference }}','{{ asset( path.img.produits ~ produit.image) }}')" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                        <span v-else v-on:click="removeProduct('{{ produit.reference }}')" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="navigation" class="row">
                    <div class="col-xs-12">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/subMenu.scss'
        '@AAEAMBundle/Resources/public/scss/Components/imgHeader.scss'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss'
        '@AAEAMBundle/Resources/public/scss/Mobilier/listeCategory.scss'
        '@AAEAMBundle/Resources/public/scss/Mobilier/index.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}