<ul id="list-category" class="hidden-xs hidden-sm">
    {% for categorie in categories %}
    <li>
        <a href="{{ path('aaeam_activites_mobilier_catalogue_categorie',{'id':categorie.id}) }}" class="item-catalogue {% if idCategory is not null and categorie.id == idCategory %}active{% endif %}  {% if not loop|last %}border{% endif %}" 
           {% if idCategory is not null and categorie.id == idCategory %}
                style="background-image: url('{{ asset( path.img.categorie_active ~ categorie.iconeActive) }}');"
           {% else %}
                style="background-image: url('{{ asset( path.img.categorie ~ categorie.icone) }}');"
           {% endif %}
           >
            <span>{{ categorie.nom }}</span>
        </a>
    </li>
    {% endfor %}
</ul>