{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Mobilier - Recherche{% endblock %}
{% block body %}
    <div id="container-recherche">
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="container-title">
                    <div class="container">
                        <div class="row">
                            <h1 v-if="recherche==''">Recherche</h1>
                            <h1 v-else >Recherche : ${ recherche }</h1>
                        </div>
                    </div>
                </div>      
            </div>
        </div>

        <div id="recherche" class="container-fluid">
            <div class="row-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input v-model="recherche" type="text" class="form-control" placeholder="Rechercher" autofocus="true">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Rechercher</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div id="recherche-resultat" class="container-fluid">
            <div class="row-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 v-if="resultatRecherche.length==0">Aucun résultat ne correspond à votre recherche</h2>
                            <h2 v-else-if="resultatRecherche.length==1">Un produit correspond à votre recherche</h2>
                            <h2 v-else>${resultatRecherche.length} résultats de recherche</h2>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 item-produit" v-for="produit in resultatRecherche">
                                <div class="col-lg-12">
                                    <img v-on:click="linkToProduit(produit.reference)" v-bind:src="'{{ asset( path.img.produits ) }}'+produit.image" />
                                </div>
                                <div class="ref col-lg-12">
                                    ${ produit.reference }
                                    <span v-if="exist(produit.reference)" v-on:click="addProduct(produit.reference,'{{ asset( path.img.produits) }}'+ produit.image)"  class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                    <span v-else v-on:click="removeProduct(produit.reference)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss'
        '@AAEAMBundle/Resources/public/scss/Mobilier/recherche.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}