<div id="submenu">
    <ul class="hidden-xs hidden-sm">
        <li><a href="{{ path('aaeam_activites_mobilier_catalogue_categorie',{'id':1}) }}" type="button" class="btn btn-link {% if active == 1 %} active{% endif %}">Notre catalogue en ligne</a></li>
        <li><a href="{{ path('aaeam_activites_mobilier') }}" type="button" class="btn btn-link {% if active == 2 %} active{% endif %}">Notre offre sur-mesures</a></li>
        <li><a href="{{ path('aaeam_activites_mobilier_realisations') }}" type="button" class="btn btn-link {% if active == 3 %} active{% endif %}">Nos réalisations</a></li>
    </ul>
    <div class="dropdown hidden-lg hidden-md">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-link">
            {{ title }}
            <i class="material-icons">keyboard_arrow_down</i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="{{ path('aaeam_activites_mobilier_catalogue_categorie',{'id':1}) }}" >Notre catalogue en ligne</a></li>
            <ul>
                {% for categorie in categories %}
                <li>
                    <a href="{{ path('aaeam_activites_mobilier_catalogue_categorie',{'id':categorie.id}) }}">{{ categorie.nom }}</a>
                </li>
                {% endfor %}
            </ul>
            <li><a href="{{ path('aaeam_activites_mobilier') }}" >Notre offre sur-mesures</a></li>
            <li><a href="{{ path('aaeam_activites_mobilier_realisations') }}" >Nos réalisations</a></li>
        </ul>
    </div>
</div>