{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Mobilier - Notre offre sur-mesures{% endblock %}
{% set title = 'Mobilier - Sur-mesures' %}
{% block body %}
    <div id="catalogue" class="container-fluid">
        <div class="row">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
            
            <div id="img-header" style="background-image: url('{{ asset('bundles/aaeam/images/catalogue/header/menu.jpg') }}')" /></div>
        
        
            <div id="content" class="container">
                <div class="row">
                    {{ render(controller('AAEAMBundle:Mobilier:subMenu',{ 'active': 2, 'title' : title })) }}
                </div>
                <div class="row-fluid">
                    <p>
                        Fort d’un savoir-faire artisanal de 30 ans, nous aimons à partager notre expérience dans la conception et la réalisation de tables, chaises, meubles, banquettes et poufs, pour le domaine de la restauration, des bars/ brasseries et de l'hôtellerie.
                        <br />
                        Que vous soyez professionnel CHR ou architecte d’intérieur, nous sommes aptes à réaliser le meuble "sur mesure" de votre choix, d'après vos plans et exigences.
                        <br />
                        Nous sommes créatifs et innovateurs, toujours à la recherche de nouveaux modèles afin de répondre aux tendances et à votre projet.
                    </p>
                    <a id="link_devis" href="{{ path('aaeam_contact') }}">
                        > demandez des renseignements, un devis ? 
                    </a>
                </div>   
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}

    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss'
        '@AAEAMBundle/Resources/public/scss/Components/subMenu.scss'
        '@AAEAMBundle/Resources/public/scss/Components/imgHeader.scss'
        '@AAEAMBundle/Resources/public/scss/Mobilier/surMesure.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}