{% extends "AAEAMBundle::layout.html.twig" %}

{% block title %}Mobilier - {{ produit.reference }}{% endblock %}
{% set title = 'Mobilier - '~ produit.type.categorie.nom  ~ ' - ' ~ produit.type.nom %}
{% block body %}
    
    
    <div id="catalogue-produit" class="container-fluid">
        <div class="row">
            <div id="container-title">
                <div class="container">
                    <div class="row">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
            <div id="container-header" class="col-lg-12">
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="container">
                            <div class="row-fluid">
                                {{ render(controller('AAEAMBundle:Mobilier:subMenu',{ 'active': 1,'title' : title })) }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            {{ render(controller('AAEAMBundle:Mobilier:listeCategory',{ 'idCategory': produit.type.categorie.id })) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="content" class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="produit-img" class="col-lg-6">
                                    <div class="col-lg-12">
                                        <a class="popup-img" href="{{ asset( path.img.produits ~ produit.image) }}">
                                            <img src="{{ asset( path.img.produits ~ produit.image) }}" />
                                        </a>
                                    </div>


                                    <div id="add-produit" class="col-lg-12" v-if="exist('{{ produit.reference }}')">
                                        <div class="col-lg-5 col-lg-offset-2 col-xs-9">
                                            <p>Ajouter cette référence à ma demande de devis</p>
                                        </div>
                                        <div class="col-lg-3 col-xs-3" >
                                            <img v-on:click="addProduct('{{ produit.reference }}','{{ asset( path.img.produits ~ produit.image) }}','{{ produit.type.categorie.id }}')" src="{{ asset('bundles/aaeam/images/icons/panier.png') }}" />
                                        </div>
                                    </div>
                                    <div id="add-produit" class="col-lg-12" v-else>
                                        <div class="col-lg-5 col-lg-offset-2 col-xs-9">
                                            <p>Supprimer cette référence de ma demande de devis</p>
                                        </div>
                                        <div class="col-lg-3 col-xs-3" >
                                            <img v-on:click="removeProduct('{{ produit.reference }}')" src="{{ asset('bundles/aaeam/images/icons/panier.png') }}" />
                                        </div>
                                    </div>


                                </div>
                                <div id="produit-desc" class="col-lg-6">
                                    <h1>{{ produit.reference }}</h1>
                                    <h2>Informations techniques</h2>
                                    <div class="desc">{{ produit.description|raw }}</div>
                                    <h2>Couleurs</h2>
                                    <div class="desc">{{ produit.couleur|raw }}</div>
                                    {% if produit.declinaison is not null %}
                                        <h2>Déclinaisons</h2>
                                        {% for decProduit in produit.declinaison.produits %}
                                            {% if produit.id != decProduit.id %} 
                                                <div class="col-lg-2 img-declinaison" data-toggle="tooltip" data-placement="bottom" title="{{ decProduit.reference }}">
                                                    <a href="{{ path('aaeam_activites_mobilier_catalogue_produit',{'ref':decProduit.reference}) }}" >
                                                        <img src="{{ asset( path.img.produits ~ decProduit.image) }}" />
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
{% endblock %}

{% block stylesheets %}
    
    {{ parent() }}
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"  type="text/css" />
    
    {% stylesheets filter='scssphp'
        '@AAEAMBundle/Resources/public/scss/Components/subMenu.scss'
        '@AAEAMBundle/Resources/public/scss/Components/header.scss'
        '@AAEAMBundle/Resources/public/scss/Mobilier/listeCategory.scss'
        '@AAEAMBundle/Resources/public/scss/Mobilier/view.scss' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#produit-img .popup-img').magnificPopup({type:'image'});
        });
    </script>
{% endblock %}