#container-title{
    background-color: #a2c614;
}

#terrasses{
    
    #submenu{
        li{
            a{
                &:hover,&.active{
                    border-bottom-color: #a2c614;
                }
                
                &:before{
                    color : #a2c614;
                }
            }
        }
    } 
    
    h1{
        background-color: #a2c614;
    }
    
    #content{
        margin-top: 10px;
        margin-bottom: 20px;
        
        img{
            max-width: 100%;
        }
        
        p{
            text-align: justify;
            margin-left: -15px;
            margin-top: 12px;
            font-size: 16px;
        }
        
        #container-catalogue{
            text-align: center;
            .item-catalogue{
                transition: transform 0.5s;
                
                &:hover{
                    transform: scale(1.05);
                }
                
                a{
                    color : #575656;
                    &:hover{
                        text-decoration: none;
                    }
                    .catalogue-title{
                        text-transform: uppercase;
                        display : block;
                        &:before{
                            content : "/";
                            color : #a2c614;
                            margin-right: 5px;
                        }
                    }
                }
                
                .material-icons{
                    transform: rotate(180deg);
                    font-size: 40px;
                    background-color: #a2c614;
                    color : white;
                    border-radius: 50px;
                    padding: 6px;
                    opacity: 0.5;
                    position: relative;
                    bottom : 275px;
                }
            }
        }
      
        i{
            font-size: 20px;
        }
        
        #terrasse_contact{
            margin-left: -15px;
            text-transform: uppercase;
            color: #a2c614;
            font-size: 18px;
            margin-top: 5px;
            display: block;


            &:hover{
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 1200px){
    #terrasses{
        #content{

            #container-catalogue{
                margin-top: 40px;
            }
        }
    }
}